html,body {
  margin: 0;
  padding: 0;
  height: 100%;
}
header {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(15,108,195)
}
header h1 {
  color: white;
}
header p {
  color: white;
}
div.container {
  max-width: 80%;
  margin: auto;
}
a.list {
  margin-bottom: 5px;
  font-size: 16px;
  color: #fb5e3b;
}
img {
  padding-top: 2px;
  position: relative;
  top: 2px;
}
footer {
  padding-top: 20px;
  height: 90px;
  width: 100%;
  background-color: #3c3c3c;
  position: absolute;
  bottom: 0px;
}
footer p {
  color: white;
  line-height: 25px;
}
a.footer {
  color: white;
  text-decoration: none;
  font-size: 14px;
}
.no-margin {
  margin: 0;
}
