html,body {
  margin: 0;
  padding: 0;
  height: 100%;
}
@media screen and (max-width:640px) {
  header {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-align: center;
    background-color: rgb(15,108,195)
  }
}
@media screen and (min-width:641px) {
  header {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-align: left;
    background-color: rgb(15,108,195)
  }
}
header h1 {
  color: white;
}
header p {
  color: white;
}
@media screen and (max-width:640px) {
  div.container {
    padding: 0 20px;
    max-width: 100%;
    margin: auto;
  }
}
@media screen and (min-width:641px) {
  div.container {
    max-width: 80%;
    margin: auto;
  }
}
a.list {
  margin-bottom: 5px;
  font-size: 16px;
  color: #fb5e3b;
}
img {
  padding-top: 2px;
  position: relative;
  top: 2px;
}
@media screen and (max-width:640px) {
  footer {
    margin-top: 20px;
    padding-top: 20px;
    height: 90px;
    width: 100%;
    text-align: center;
    background-color: #3c3c3c;
  }
}
@media screen and (min-width:641px) {
  footer {
    margin-top: 20px;
    padding-top: 20px;
    height: 90px;
    width: 100%;
    text-align: left;
    background-color: #3c3c3c;
  }
}
footer p {
  color: white;
  line-height: 25px;
}
a.footer {
  color: white;
  text-decoration: none;
  font-size: 14px;
}
.no-margin {
  margin: 0;
}
